<header class="header">
    <div class="app-logo">
    <img src ="assets/pretzel.png" alt ="BrezelQuest Logo" class="logo-icon" />
    BrezelQuest
    </div>
</header>
<router-outlet></router-outlet>    
<div class="background-animations">
    <img src="assets/superbrezel.png" alt="Pretzel" class="bg-element bg-element-1" />
    <img src="assets/superbrezel.png" alt="Pretzel" class="bg-element bg-element-2" />
    <img src="assets/superbrezel.png" alt="Pretzel" class="bg-element bg-element-3" />
    <img src="assets/superbrezel.png" alt="Pretzel" class="bg-element bg-element-4" />
    <img src="assets/superbrezel.png" alt="Pretzel" class="bg-element bg-element-5" />
    <img src="assets/superbrezel.png" alt="Pretzel" class="bg-element bg-element-6" />
    <img src="assets/superbrezel.png" alt="Pretzel" class="bg-element bg-element-7" />
</div>
