// Primary Colors
$color-dark-blue: #0E2148;
$color-medium-purple: #483AA0;
$color-light-purple: #7965C1;

// Background & Surfaces Colors
$color-light-yellow: #E3D095;
$color-body-bg: $color-light-purple;

// Text Colors
$color-text-primary: #0E2148;
$color-text-secondary: #483AA0;
$color-text-header: #D3D3D3;
$color-text-disabled: #666666;
$color-white: #fff;
$color-white-opacity: rgba(255, 255, 255, 0.8);

// Button colors
$color-button-gradient-start: $color-light-purple;
$color-button-gradient-end: $color-medium-purple;
$color-button-border: $color-dark-blue;

//// Others
$color-progress-bg: rgba(0, 0, 0, 0.2);



