.header {
    background-color: $color-dark-blue;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    align-items: left;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.app-logo{
    display: flex;
    align-items: center;

    .logo-icon{
        width: 3rem;
        height: auto;
        margin-right: 0.5rem;
    }

    font-size: 2.5rem;
    font-weight: 800;
    color: $color-light-yellow;
    letter-spacing: 0.05em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
