    <div class="welcome-content">
        <h1 class="motivation-title">Chào mừng đến với BrezelQuest 🎉- "Học mà chơi - chơi mà giỏi tiếng Đức!"</h1>
        <p class="introduction-text">
            Biến việc học tiếng Đức thành một chuyến phiêu lưu đầy màu sắc với BrezelQuest. 
            Mỗi bài học là một nhiệm vụ, mỗi từ vựng là một bước tiến, và bạn chính là người hùng trong cuộc hành trình ngôn ngữ của chính mình.
            Cùng chú Brezel siêu nhân <img src ="assets/superbrezel.png" alt ="SuperBrezel" class="intro-icon" />, hãy chinh phục tiếng Đức một cách dễ dàng, đầy thú vị.        
        </p>
        <!-- <a href="login.html" class="start-learning-button">Start Learning!</a> -->
        <a routerLink="/auth/login" class="btn btn-primary start-learning-button">Bắt đầu học ngay!</a>
    </div>